/* Base layout same aesthetic as DPO page */

.uploadpage-container {
  width: 100%;
}

.uploadpage-content {
  padding: 10px 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


/* Responsive behavior */
@media (max-width: 768px) {
  .uploadpage-content {
    padding: 10px 20px;
  }
}
