.collector-container {
  width: 100%;
}

.collector-container .content {
  padding: 0px 70px;
  position: relative;
}

.collector-container .page-title h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: -5px;
  color: #111;
}

.collector-container .filters {
  display: flex;
  gap: 15px;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.collector-container .filters input,
.collector-container .filters select {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
}

.collector-container .generate-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.collector-container .generate-btn:hover {
  background: #1d4ed8;
}

.collector-container .page-title {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}